{% extends 'base.html' %}
{% block welcome %}
{% endblock %}

{% block features %}
{% endblock%}
{% block app_content %}
<div class="appContent"> 
{% if problems %}
	<h1><center>Marked Problems</center></h1>
	<br><br>
<table class="table table-striped">
            <thead style="background: #212529; color: grey; border: 20px;">
            <tr>
                <th scope="col">PROBLEMS</th>
                <th scope="col" style="text-align: end;">ACTION</th>
            </tr>
        </thead>
{% for problem in problems %}
	{% include "_problem.html" %}
{% endfor %}
</table>
{% else %}
	<h1><center>You have currently no marked Problems</center></h1>
{% endif %}
</div>

{% endblock %}