{% extends 'base.html' %}
{% block welcome %}
{% endblock %}

{% block features %}
{% endblock%}

{% block footer %}
{% if problems is not none %}
<footer class="Footer-user">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p class="copyright">Copyright &copy; a bunch of nerds</p>
			</div>
		</div>
	</div>
</footer>
{% endif %}
{% endblock %}

{% block app_content %}
<div class="appContent"> 
	<h1><center>Marked Problems</center></h1>
	<br><br>
{% if problems %}
<table class="table table-striped">
{% for problem in problems %}
	{% include "_problem.html" %}
{% endfor %}
</table>
{% endif %}
</div>

{% endblock %}