{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block welcome %}
{% endblock %}

{% block features %}
{% endblock%}
{% block app_content %}
<h1><center>Search Problems</center></h1>
<div class="search-problem-box">
	{{ wtf.quick_form(form, form_type="horizontal inline") }}
</div>
<br><br><br>
<div>
	{% if problems %}
        <table class="table table-striped">
		{% for problem in problems %}
			{% include '_problem.html' %}
		{% endfor %}
        </table>
	{% endif %}
</div>
</div>
{% endblock %}